:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --accent-color: #2196f3;
}

body {
  font-family: var(--main-font);
}

/* ==========Components========== */

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ==========End Components========== */

/* ==========Header========== */

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
}

.nav-list-link,
.header-mail,
.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #000000;
}

.nav-list {
  color: #212121;
}

.address {
  color: #757575;
  font-style: normal;
}

.nav-list-link:hover,
.nav-list-link:focus,
.header-mail:hover,
.header-mail:focus,
.header-tel:hover,
.header-tel:focus,
.portfolio-button-list-item:hover,
.portfolio-button-list-item:focus {
  color: var(--accent-color);
}

/* ==========End Header========== */

/* ==========Hero========== */

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  /* color: #ffffff; */
}

.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  /* color: #ffffff; */
}

/* ==========End Hero========== */

/* ==========About========== */

.about-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
}

/* ==========End About========== */

/* ==========About-img========== */

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

/* ==========End About-img========== */

/* ==========Team========== */

.team-list-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team-list-undertitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;

  color: #757575;
}

/* ==========End Team========== */

/* ==========Footer========== */

.footer {
  background: #2f303a;
}

.footer-maps {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-link,
.footer-tel {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/* ==========End Footer========== */

/* ==========Portfolio========== */

.portfolio-button-list-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}

.portfolio-list-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.portfolio-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
}

/* ==========End Portfolio========== */
